* {
	margin: 0 auto;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html {
	font-size: 14px;
}

/* Text */

h1, h3, h5, p, a, span {
	font-family: 'Zilla Slab', serif;
	text-shadow: 0 0  1px #fff;
}

h3, p, span {
	color: #4c4c4c;
}
p {
	font-weight: 500;
	opacity: .5;
}

h3, h4, button {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: .8rem;
}

h1 {
	font-weight: lighter;
}

h4 {
	display: inline-block;
}

/* ------- */


body {
	background: #555463;
}

.main {
	padding: 4px 0;
	width: 800px;
	height: 678px;
}

.left, 
.right {
	display: inline-block;
	background: #fff;
}

.left {
	padding: 0 80px 0 60px;
	float: left;
	width: 500px;
}

/* UP */

.up {
	height: 599px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-radius: 10px 0 0 0;
}

.up h3,
.up h1,
.up p {
	padding: 10px 0;
}

.up button {
	height: 60px;
	width: 100%;
	border: 1px solid rgba(76, 76, 76, .2);
	margin: 10px 0;
	border-radius: 5px;
}

.up button:hover {
	cursor: pointer;
	border: 0;
	box-shadow: 0 5px 40px rgba(76, 76, 76, .2);
}

._buttons {
	margin: 60px 0; 
}

button.google {
	background: url(img/g+.png) 30px 50% no-repeat #fff;
	background-size: auto 24px;
}

button.facebook {
	background: url(img/fv.png) 26px 50% no-repeat #fff;
	background-size: auto 24px;
}

button.twitter {
	background: url(img/tw.png) 30px 50% no-repeat #fff;
	background-size: auto 16px;
}

/* ----- */

/* LINE */

.line {
	height: 1px;
	border-top: 1px solid rgba(76, 76, 76, .1);
}

/* ----- */

/* DOWN */

.down {
	line-height: 70px;
	border-radius: 0 0 0 10px;
}

.down>* {
	padding-right: 8px;
}

.down h4 a {
	color: #478903;
	text-decoration: none;
}

.down h4 a:hover {
	color: #6ED405;
}


/* RIGHT */

.right {
	background: url(img/bg.jpg) -500px no-repeat;
	background-size: auto 100%;
	width: 300px;
	height: 670px;
	float: right;
	border-radius: 0 10px 10px 0;
}